extends ../layout/header.pug
block content
  .container
    .row
      .col-12
        br
        h1
          span.mt-100.mr-10 Carousels
          span &nbsp;
          a.btn.btn-success(href="/admin/carousels/create") New Carousel
          p Chỉ nên có khoản 3-5 Carousels
        hr.soft
        form.form-inline(method='get', action='/admin/carousels/search')
            input#search.form-control(type='text',placeholder='Search carousels...', name='q', value = q ? q : '')
            span &nbsp;
            button.btn.btn-primary(type='submit') SEARCH
        br 
        form#idDelete(action="/admin/carousels/delete", method="POST" class="form-inline")
          input(type="text" name = "idDelete" class="form-control" placeholder='Nhap vao id can xoa...')
          span &nbsp;
          button.btn.btn-danger Delete
        br 
        table.table.table-bordered
          thead 
            tr.thead-dark
              th ID
              th Name
              th Image
          tbody
            each carousel in carousels
              tr
                td= carousel.id
                td= carousel.name
                td
                  img( src = carousel.img , height='400px', width='auto')
        br 
        hr.soft
        // Pagination ( Phan Trang )
        - var lowerLimit = (parseInt((page - 1)/3) * 3) + 1;
        - var startPage = lowerLimit-1;
        .shop_pagination
          .row.align-items-center
            .col-lg-6.offset-lg-2.col-md-6.col-sm-6
              .page_list_clearfix.text-center
                ul
                  if(page > 1)
                    li.prev
                      a(href='/admin/carousels'+`${baseUrl ? baseUrl : '?'}`+'page='+(page-1))
                        i.zmdi.zmdi-chevron-left
                        |  Previous
                  else
                    li.prev
                      a(href='#')
                        i.zmdi.zmdi-chevron-left
                        |  Previous
                  each i in [1, 2, 3]
                    if( total > startPage*perPage)
                      - startPage = startPage + 1;
                        if(page !== startPage)
                          li
                            a(href='/admin/carousels'+`${baseUrl ? baseUrl : '?'}`+'page='+startPage) #{startPage}
                        else
                          li.current_page
                            a(href='/admin/carousels'+`${baseUrl ? baseUrl : '?'}`+'page='+startPage) #{startPage}
                  if(page < total/perPage)
                    li.next
                      a(href='/admin/carousels'+`${baseUrl ? baseUrl : '?'}`+'page='+(page+1))
                        | Next 
                        i.zmdi.zmdi-chevron-right
                  else
                    li.next
                      a(href='#')
                        | Next 
                        i.zmdi.zmdi-chevron-right
  // Footer ==========================================================
  include ../layout/footer.pug